body {
    background-image: url(../images/maxresdefault.jpg);
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Passion One', cursive;
    color: aliceblue;
    font-size: 3em;
}
h2 {
    font-family: 'Passion One', cursive;
    color: aliceblue;
    font-size: 3em;
}